        body {
            margin: 0;
            padding: 10px;
            background-color: #f1f1f1;
        }
        * {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        #addressInput {
            width: 60%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        #getWeatherBtn {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
        }
        #getWeatherBtn:hover {
            background-color: #4ad351;
        }
        .address {
            text-align: center;
            font-size: normal;
            border-bottom: 1px solid #54824f;
            padding: 5px;
            background-color: #4ebd82;

        }

        /* Error message styling */
        #errorMessage {
            color: red;
            text-align: center;
            font-size: small;
        }

        /* Table styling */
        #weatherTable {
            width: 100%;
            border-collapse: collapse;
        }
        #weatherTable th, #weatherTable td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        #weatherTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        #weatherTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #6cac6e;
            color: white;
        }

        .weatherIcon {
            width: 30px;
            height: 30px;
        }

        /* Responsive table */
        @media screen and (max-width: 600px) {
            #weatherTable th, #weatherTable td {
                padding: 4px;
            }
        }

        /* Footer styling */
        footer {
            background-color: #2c3e50; /* Dark blue background */
            color: #ffffff; /* White text color */
            text-align: center; /* Center-align the text */
            padding: 20px 0; /* Padding above and below the text */
            margin-top: 40px; /* Adds space between the footer and the content above it */
            position: relative; /* Ensures the footer can be manipulated in context (e.g., bottom of the page) */
            bottom: 0; /* Aligns the footer at the bottom of its container */
            width: 100%; /* Ensures the footer stretches across the width of its container */
        }
        
        footer a {
            color: #f39c12; /* Orange color for the link for high visibility */
            text-decoration: none; /* No underline */
            font-weight: bold; /* Makes the font bold */
        }
        
        footer a:hover {
            text-decoration: underline; /* Underline on hover for better interaction feedback */
        }


        /* End of CSS */
